extends layout
block content
  script(src='/javascripts/index.js')
  h1= title
  p Welcome to #{title}
  table
    thead
      tr
        th= "Thumb"
        th= "File Name"
        th= "Transfer"
    tbody
      each o in files
        tr
          td
            img(src= o.thumbnailLink)
          td
            div
              span= o.name
              br
              span= o.size
          td
            select(id="ddl_" + o.id)
              each album in albums
                option(value="#{album.id}") #{album.title}
            button(onclick='transfer("#{o.id}")') Transfer
            button(onclick='viewPhotos("#{o.id}")') View Photos
            
              